"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc

"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Show mode on status bar
set showmode

" Relative numbers
set relativenumber
set number

set clipboard+=unnamed

" https://github.com/JetBrains/ideavim/wiki/NERDTree-support
set NERDTree

let mapleader ="\<Space>"

" Don't use Ex mode, use Q for formatting.
map Q gq

nnoremap <Tab> gt
nnoremap <S-Tab> gT

nnoremap <Leader>/ :action Find<CR>
vnoremap <Leader>/ :action Find<CR>

nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz

nnoremap <C-h> :action ParameterInfo<CR>

nnoremap ]q :action GotoNextElementUnderCaretUsage<CR>
nnoremap [q :action GotoPrevElementUnderCaretUsage<CR>

nnoremap <C-k> :action ShowErrorDescription<CR>
nnoremap ]d :action GotoNextError<CR>
nnoremap [d :action GotoPreviousError<CR>

xnoremap J :action MoveLineDown<CR>
xnoremap K :action MoveLineUp<CR>

" navigation
nnoremap <Leader>n :action ActivateProjectToolWindow<CR>
nnoremap <Leader>s :action FileStructurePopup<CR>

nnoremap <Leader>a :action ShowIntentionActions<CR>

" build and debug actions
nnoremap <Leader>bl :action ViewBreakpoints<CR>
nnoremap <Leader>bP :action EditBreakpoint<CR>
nnoremap <Leader>bp :action ToggleLineBreakpoint<CR>
nnoremap <Leader>bB :action Compile<CR>
nnoremap <Leader>bb :action CompileDirty<CR>
nnoremap <Leader>bx :action RunClass<CR>
nnoremap <Leader>bX :action DebugClass<CR>
nnoremap <Leader>br :action Run<CR>
nnoremap <Leader>bR :action ChooseRunConfiguration<CR>
nnoremap <Leader>bd :action Debug<CR>
nnoremap <Leader>bD :action ChooseDebugConfiguration<CR>
nnoremap <Leader>bc :action CreateRunConfiguration<CR>
nnoremap <Leader>bC :action editRunConfigurations<CR>

nnoremap <Leader>ee :action EvaluateExpression<CR>
xnoremap <Leader>ee :action EvaluateExpression<CR>

nnoremap <Leader>eq :action QuickEvaluateExpression<CR>
xnoremap <Leader>eq :action QuickEvaluateExpression<CR>

" extract actions
nnoremap <Leader>ei :action ExtractInterface<CR>
nnoremap <Leader>es :action ExtractSuperclass<CR>
nnoremap <Leader>ec :action ExtractClass<CR>
nnoremap <Leader>ef :action ExtractFunction<CR>
vnoremap <Leader>ef :action ExtractFunction<CR>
nnoremap <Leader>em :action ExtractMethod<CR>
vnoremap <Leader>em :action ExtractMethod<CR>

" introduce actions
nnoremap <Leader>iv :action IntroduceVariable<CR>
nnoremap <Leader>if :action IntroduceField<CR>
nnoremap <Leader>ip :action IntroduceParameter<CR>
nnoremap <Leader>ic :action IntroduceConstant<CR>

" find
nnoremap <Leader>fs :action FindInPath<CR>
vnoremap <Leader>fs :action FindInPath<CR>
nnoremap <Leader>fc :action GotoClass<CR>
vnoremap <Leader>fc :action GotoClass<CR>
nnoremap <Leader>ff :action GotoFile<CR>
vnoremap <Leader>ff :action GotoFile<CR>
nnoremap <Leader>fm :action GotoSymbol<CR>
nnoremap <Leader>fu :action FindUsages<CR>

" goto
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR> 
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
nnoremap pr :action RecentChangedFiles<CR>

nnoremap g0 :action GotoBookmark0<CR>
nnoremap g1 :action GotoBookmark1<CR>
nnoremap g2 :action GotoBookmark2<CR>
nnoremap g3 :action GotoBookmark3<CR>
nnoremap g4 :action GotoBookmark4<CR>
nnoremap g5 :action GotoBookmark5<CR>
nnoremap g6 :action GotoBookmark6<CR>
nnoremap g7 :action GotoBookmark7<CR>
nnoremap g8 :action GotoBookmark8<CR>
nnoremap g9 :action GotoBookmark9<CR>

" refactoring actions
nnoremap <Leader>ri :action Inline<CR>
nnoremap <Leader>rr :action RenameElement<CR>i
nnoremap <Leader>rj :action MemberPushDown<CR>
nnoremap <Leader>rk :action MemberPullUp<CR>
nnoremap <Leader>rs :action ChangeSignature<CR>
nnoremap <Leader>rd :action SafeDelete<CR>
nnoremap <Leader>rm :action Move<CR>
nnoremap <Leader>rc :action CopyElement<CR>

" marks
nnoremap ml :action ShowBookmarks<CR>
nnoremap mw :action ToggleBookmarkWithMnemonic<CR>
nnoremap mm :action ToggleBookmark<CR>
nnoremap m0 :action ToggleBookmark0<CR>
nnoremap m1 :action ToggleBookmark1<CR>
nnoremap m2 :action ToggleBookmark2<CR>
nnoremap m3 :action ToggleBookmark3<CR>
nnoremap m4 :action ToggleBookmark4<CR>
nnoremap m5 :action ToggleBookmark5<CR>
nnoremap m6 :action ToggleBookmark6<CR>
nnoremap m7 :action ToggleBookmark7<CR>
nnoremap m8 :action ToggleBookmark8<CR>
nnoremap m9 :action ToggleBookmark9<CR>

" version control actions
nnoremap <Leader>G :action Vcs.QuickListPopupAction<CR>
nnoremap <Leader>vu :action Vcs.UpdateProject<CR>
nnoremap <Leader>vp :action Vcs.Push<CR>
nnoremap <Leader>vb :action Git.Branches<CR>
nnoremap <Leader>vv :action ActivateVersionControlToolWindow<CR>
nnoremap <Leader>va :set relativenumber!<CR>:action Annotate<CR>

" project
nnoremap <Leader>ps :action Switcher<CR>
nnoremap <Leader>pv :NERDTreeFocus<CR>
nnoremap <Leader>pf :NERDTreeFind<CR>

nnoremap <Leader>w :action SurroundWith<CR>
vnoremap <Leader>w :action SurroundWith<CR>

nnoremap <Leader>x :action CloseContent<CR>
nnoremap <Leader>X :action CloseAllEditorsButActive<CR>

" toggle relative numbers
nnoremap <F4> :set relativenumber!<CR>
